* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border-radius: 0px;
}


window#waybar { 
    background-color: #1E1E2E; 
    color: #ffffff;    
}


.modules-left {
}


.modules-right {
	padding: 0px 0px 0px 0px;
}

#network {
    color:#eed49f;
}
#custom-power {
    color:#f5a97f;
    margin: 0px 4px 0px 4px;

}

#custom-title {
   font-size: 15px;
   color: #91d7e3;
   margin: 0px 8px 0px 8px;
}

#memory {
    color:#f5a97f;
}

#cpu {
    color:#ed8796;
}

#backlight {
    color:#f4dbd6;
}

#pulseaudio {
    color:#f5bde6;
}

#battery {
    color:#c6a0f6;
}

#clock {
    color:#a6da95;
}

#custom-indicator {
  margin: 1px 0px 0px 4px;
  color: #91d7e3;
 }

#window {
  margin: 0px 0px 0px 8px;
  font-size: 14px;
}

#workspaces {
  margin: 0px 5px 0px 5px;
}

#workspaces button {
	padding: 0px 5px 0px 5px; 
 	min-width: 0px;
	color: #888888;
}

#workspaces button.current_output {
 	min-width: 0px;
	color: #ffffff;
}

#workspaces button.active { 
	color: #3e4454;
}

#workspaces button.focused { 
	color: #1E1E2E;
	padding: 0px 5px 0px 5px; 
    background-color: #B5E8E0;
}

window#waybar.empty #window {
	color: transparent;
}


window#waybar.empty {
}


#network, #temperature, #backlight, #pulseaudio, #battery, #cpu, #clock, #memory {
    margin: 1px 8px 0px 8px;
}

#clock {
}

#tray{
   padding: 0px 5px 0px 5px;
   margin: 0px 0px 0px 3px;
}


#battery.critical {
   color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
}
