@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border-radius: 0px;
}


window#waybar { 
    background-color: @base; 
    color: #ffffff;    
}


.modules-left {
}


.modules-right {
	padding: 0px 0px 0px 0px;
}

#network {
    color: @yellow;
}
#custom-power {
    color: @red;
    margin: 0px 4px 0px 4px;

}

#custom-title {
   font-size: 16px;
   color: @teal;
   margin: 0px 8px 0px 8px;
}

#memory {
    color:@peach;
}

#cpu {
    color:@red;
}

#backlight {
    color:@rosewater;
}

#pulseaudio {
    color:@pink;
}

#battery {
    color:@mauve;
}

#clock {
    color:@green;
}

#custom-indicator {
  margin: 1px 0px 0px 4px;
  color: @sky;
 }

#window {
  margin: 0px 0px 0px 8px;
  font-size: 14px;
}

#workspaces {
  margin: 0px 5px 0px 5px;
}

#workspaces button {
	padding: 0px 5px 0px 5px; 
 	min-width: 0px;
	color: @overlay0;
}

#workspaces button.current_output {
 	min-width: 0px;
	color: #ffffff;
}

#workspaces button.active { 
	color: @surface0;
}

#workspaces button.focused { 
	color: @base;
	padding: 0px 5px 0px 5px; 
    background-color: @teal;
}

window#waybar.empty #window {
	color: transparent;
}


window#waybar.empty {
}


#network, #temperature, #backlight, #pulseaudio, #battery, #cpu, #clock, #memory {
    margin: 1px 8px 0px 8px;
}

#clock {
}

#tray{
   margin: 0px 8px 0px 0px;
}


#battery.critical {
   color: @red;
}


#network.disconnected {
    color: @red;
}
